h1{
	font-family: comic-sans ;
	color: #0562F8;
	text-align:center;
}  
#logo{
	width:200px;
	height:200px;
	
}	
#h3{
		font-family: Arial;
		font-size: 30px;
		text-shadow:2px 2px #2F4F4F;
}
#divcentro{
	width:500px;
	height:300px;
	background-color:silver;
	border-radius:20px;
}
#divmeio{
	width:500px;
	height:250px;
	background-color:#5B605C;
	border-radius:20px;
	color:white;
	font-family: comic-sans;
	font-size:30px;
	text-align:center;
	margin-top:10px;
	padding-top:30px;
}

#botao{
	border-radius:20px;
	
}
#teste{
	margin-top:100px;
	
}
.item{
			color:white;
			font-family:consolas;
			margin-left:10px;
			margin-right:10px;
			text-align:center;
			float:right;
			height:13%;
		}
		.item:hover{
			background-color:#2F4F4F;
			cursor:pointer;
			border-radius:20px;
		}
		.item a{
			font-size:25px;
			margin-left:5px;
			margin-right:5px;
		}